html, body{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1.5rem;    
}
div.container{
    width:100%;
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div.container:nth-of-type(odd){
    background-color: rgba(0,0,0,0.8);
    color:white;
}
div.container:nth-of-type(even){
    background-color: rgba(85,85,221,0.6);
    color:black;
}
div.food-lover{
    background: url('images/food-lover.svg');
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-position: top right;
}
div.tech-enthusiast{
    background: url('images/tech-enthusiast.svg');
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-position: top left;
}
div.web-developer{
    background: url('images/web-developer.svg');
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-position: top right;
}
div.container h2 {
    width: 100%;
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,0.4);
    color:white;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: center;
    font-weight: 700;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: Courier New, Courier, monospace;
}
form.contact-form{
    width: 100%;
    max-width: 480px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    letter-spacing: 1px;
}
form.contact-form label{
    margin: 0.5rem 1rem;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    text-align: left;
}
form.contact-form input, form.contact-form textarea {
    min-height: 2em;
    padding: 0.5rem;
    border-radius: 0.125rem;
    border: 1px solid black;
    font-size: 0.5rem;
}
form.contact-form input:focus, form.contact-form textarea:focus, form.contact-form button#contact-form__button:focus{
    border: 0.1rem  solid #E91E63;
}
form.contact-form input[type='email'] {
    text-transform: lowercase;
}
form.contact-form input[name='name'], form.contact-form input[name='subject'] {
    text-transform: capitalize;
}
form.contact-form button#contact-form__button {
    height: 2rem;
    border: 0;
    border-radius: 0.125rem;
    font-size: 0.5rem;
    background: rgba(0,0,0,0.4);
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}
form.contact-form button#contact-form__button:active{
    background: rgba(0,0,0,0.6);
}